[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.qt_notes_app
Exec=/usr/bin/ru.template.qt_notes_app
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=SecureStorage;RemovableMedia;UserDirs
OrganizationName=ru.template
ApplicationName=qt_notes_app
ExecDBus=/usr/bin/ru.template.qt_notes_app
